// Global
body {
	background: linear-gradient(rgba(250,250,241,0.95), rgba(250,250,241,0.95)), url(../img/background-pattern.jpg) repeat center $brand-white;
}
p, span, a {
	font-family: $font-roboto;
	font-weight: normal;
	color: $brand-black;
	font-size: 14px;
	&:hover {
		text-decoration: none;
		color: $brand-black;
	}
}

h1 {
	font-family: $font-pt;
	font-size: 52px;
	font-weight: bold;
}

h2 {
	font-family: $font-pt;
	font-size: 40px;
	font-weight: bold;
}

hr {
	max-width: 60px;
	border-top: 3px solid $brand-black;
}

.vertical-horizontal-center {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.page-section {
	padding: 70px 0 80px;
	.page-heading {
		width: 100%;
		margin-bottom: 90px;
		h2 {
			text-align: center;
		}
	}
	@include media-breakpoint-down(sm){
		.page-heading {
			margin-bottom: 40px;
		}

	}
}
//--- Global



// Header
header {
	position: absolute;
	width: 100%;
	z-index: 1000;
	padding: 25px 0;
	nav.navbar {
		background: transparent;
		padding: 0;
		.navbar-brand {
			font-family: $font-pt;
			font-size: 32px;
			font-weight: bold;
			color: $brand-main;
		}
	}
}
// --- Header



// Home Page
.page-template-template-home {
	.page-wrapper {
		// transition: all .5s ease;
		.hero-area {
			// background-color: #555;
			background-position: 50% 50%;
			// background-size: 110%;
			background-repeat: repeat;
			height: 100vh;
			position: relative;
			.container {
				height: 100%;
				position: relative;
			}
			.hero-content-wrapper {
				@include transform(translate(-50%, -50%));
				top: 50%;
				left: 50%;
				position: absolute;
				width: 100%;
				padding: 0 15px;
				.hero-text-wrapper {
					text-align: center;
					margin: 0 auto;
				}
				.hero-title {
					h1 {
						color: $brand-main;
						font-size: 121px;
					}
				}
			}
			.hero-text {
				-webkit-transform: translateX(-50%);
		    -moz-transform: translateX(-50%);
		    transform: translateX(-50%);
		    left: 50%;
				position: absolute;
				bottom: 50px;
				width: 80vw;
				text-align: center;
				p {
					font-size: 20px;
				}
			}
		}

		.huge-navs-wrapper {
			.col-sm-4 {
				transition: background-size 2s ease;
				background-size: 200%;
				background-repeat: no-repeat;
				background-position: center;
				padding-right: 0;
				padding-left: 0;
				&:hover {
					background-size: 215%;
				}
				.huge-nav-content {
					.huge-nav-mask {
						transition: all .5s;
						height: 70vh;
						background-color: #000;
						opacity: .5;
					}
					h2.huge-nav-text {
						-webkit-transform: rotateX(0deg) translate(-50%, -50%);
						-moz-transform: rotateX(0deg) translate(-50%, -50%);
						transform: rotateX(0deg) translate(-50%, -50%);
						position: absolute;
						top: 50%;
						left: 50%;
						transition: all .5s;
						text-transform: uppercase;
						color: $brand-white;
					}
					&:hover {
						.huge-nav-mask {
							opacity: 0;
						}
						h2.huge-nav-text {
							// -webkit-transform: rotateX(360deg) translate(-50%, -50%);
							// -moz-transform: rotateX(360deg) translate(-50%, -50%);
							// transform: rotateX(360deg) translate(-50%, -50%);
							background-color: $brand-white;
							padding: 5px;
							color: $brand-black;
						}
					}
				}
			}
		}

		.portfolio-item-wrapper {
			transition: all .6s ease;
    	-webkit-filter: grayscale(100%);
    	filter: grayscale(100%);
			min-height: 500px;
			background-size: cover;
    	background-position: center;
			.portfolio-item-mask {
				transition: .6s ease;
		    // -webkit-filter: blur(3px);
		    // background-image: linear-gradient(rgba(250,250,241,0.4), rgba(250,250,241,0.4));
		    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
				right: 0;
		    left: 0;
		    opacity: .5;
		    // z-index: -1;
		    height: 100%;
		    position: absolute;
		    background-size: cover;
		    background-position: center;
		    margin: 0 15px;
			}
			.block-content-wrapper {
				transition: .6s ease;
				position: absolute;
				left: 45px;
				top: 30px;
				right: 45px;
				bottom: 30px;
				opacity: 0;
				background-color: $brand-white;
			}
			h2 {
				@extend .vertical-horizontal-center;
				transition: .6s ease;
				position: absolute;
				z-index: 5;
				color: $brand-white;
				hr {
					transition: .6s ease;
					border-color: $brand-black;
					opacity: 0;
				}
			}
			.hover-show {
				@extend .vertical-horizontal-center;
				z-index: 5;
				transition: 1s ease;
				text-align: center;
				position: absolute;
				top: 55%;
				opacity: 0;
				p {
					color: $brand-black;
				}
			}
			&:hover {
		    -webkit-filter: grayscale(0);
		    filter: grayscale(0);
				.portfolio-item-mask {
		    	// -webkit-filter: blur(0px);
		    	opacity: 0;
				}
				.block-content-wrapper {
					opacity: 1;
				}
				h2 {
					top: 35%;
					color: $brand-black;
					hr {
						opacity: 1;
					}
				}
				.hover-show {
					opacity: 1;
				}
			}
		}

	}

	@include media-breakpoint-up(md){
		.page-wrapper {
			.hero-content-wrapper {
				.hero-text-wrapper {
				}
			}
			.hero-text {
				max-width: 40vw;
		    transition: all .6s ease;
				opacity: 0;
		    bottom: 0;
				&.animated {
					opacity: 1;
		    	bottom: 100px;
				}
			}
		}
	}

	@include media-breakpoint-down(sm){
		.page-wrapper {
			background-size: cover;
			.hero-content-wrapper {
				.hero-text-wrapper {
					width: 50%;
					.hero-title {
						font-size: 36px;
					}
				}
			}
		}
	}
}
//--- Home Page



// Extra stuff
.screen-center {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

// mouse figure on home
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 12%;
	}
	15% {
	opacity: 1;
	top: 30%;
	}
	50% {
	opacity: 0;
	top: 30%;
	}
	100% {
	opacity: 0;
	top: 12%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 12%;
	}
	15% {
	opacity: 1;
	top: 30%;
	}
	50% {
	opacity: 0;
	top: 30%;
	}
	100% {
	opacity: 0;
	top: 12%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 12%;
	}
	15% {
	opacity: 1;
	top: 30%;
	}
	50% {
	opacity: 0;
	top: 30%;
	}
	100% {
	opacity: 0;
	top: 12%;
	}
}
 .scroll-btn {
 	transition: opacity .8s ease;
	display: block;
	position: absolute;
	opacity: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	&.animated {
		opacity: 1;
	}
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: $brand-black;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: $brand-black;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 22px;
	height: 35px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid $brand-black;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	display: block;
	top: 12%;
	left: 50%;
	width: 2px;
	height: 6px;
	background: $brand-black;
	border-radius: 0;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}
//--- Extra stuff

