// Global
p, span, a {
	font-family: $font-roboto;
	font-weight: normal;
	color: #FFF;
	font-size: 14px;
}

h1 {
	font-family: $font-pt;
	font-size: 36px;
	font-weight: bold;
}

hr {
	max-width: 60px;
	border-top: 3px solid $brand-blue;
	margin: 1rem 0 2rem;
}
//--- Global



// Header
header {
	position: absolute;
	width: 100%;
	z-index: 1000;
	padding: 25px 0;
	nav.navbar {
		background: transparent;
		padding: 0;
		.navbar-brand {
			font-family: $font-pt;
			font-size: 32px;
			font-weight: bold;
			color: $brand-blue;
		}
	}
}
// --- Header



// Home Page
.page-template-template-home {
	.page-wrapper {
		// transition: all .5s ease;
		background-color: #555;
		background-position: 50% 50%;
		background-size: 110%;
		height: 100vh;
		.site-main {
			height: 100vh;
			.hero-content-wrapper {
				@include transform(translate(-50%, -50%));
				top: 50%;
				left: 50%;
				position: absolute;
				width: 100%;
				padding: 0 15px;
				.hero-title {
					h1 {
						color: #FFF;
						font-size: 121px;
					}
				}
				.hero-text {
					p {
						font-size: 24px;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(md){
		.page-wrapper {
			.hero-content-wrapper {
				.hero-text-wrapper {
					width: 40%;
				}
			}
		}
	}

	@include media-breakpoint-down(sm){
		.page-wrapper {
			background-size: cover;
			.hero-content-wrapper {
				.hero-text-wrapper {
					width: 50%;
					.hero-title {
						font-size: 36px;
					}
				}
			}
		}
	}
}
//--- Home Page



// Extra stuff
.screen-center {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
//--- Extra stuff