$font-oswald: 'Oswald', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-pt: 'PT Sans Narrow', sans-serif;

$brand-blue: #2bafca;
$brand-black: #333;