$font-oswald: 'Oswald', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-pt: 'PT Sans Narrow', sans-serif;
$font-pt-regular: 'PT Sans', sans-serif;

$brand-blue: #2bafca;
$brand-black: #333;
$brand-white: #fafaf1;
$brand-purple: #7200ff;
$brand-red: #ed4152;

$brand-main: #ed4152;

$narrow-block-cap: 700px;
