.DS_Store
node_modules/
.cache/
dist/
wp-config.php
.env
*.sql
*.sqlite
*.zip
*.tar.gz
/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-*.php
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/themes/index.php
/wp-content/uploads/
/wp-content/plugins/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/languages/
/.htaccess
